@page
@model CoffeeShop.Areas.Admin.Pages.Category.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-area="Admin" asp-page="/Category/CreateCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Category Name")
            </th>
            <th>
                @Html.DisplayName("Is Deleted")
            </th>
            <th>
                @Html.DisplayName("Is Active")
            </th>
            <th>
                @Html.DisplayName("Create Date")
            </th>
            <th>
                @Html.DisplayName("Modify Date")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>
                <td>
                    <a asp-area="Admin" asp-page="/Category/EditCategory" asp-route-id="@item.CategoryID">Edit</a> |
                    <a asp-area="Shared" asp-page="/Category/DetailCategory" asp-route-id="@item.CategoryID">Details</a> |
                    <a asp-area="Admin" asp-page="/Category/DeleteCategory" asp-route-id="@item.CategoryID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
