@page
@model CoffeeShop.Areas.Shared.Pages.ForgotPasswordModel
@{
}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow login-area">
        <h2 class="text-center">Forgot Password</h2>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="text-center text-danger">@Model.ErrorMessage</p>
        }
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.EmailAddress" class="form-label"></label>
                <input asp-for="@Model.EmailAddress" class="form-control" />
                <span asp-validation-for="@Model.EmailAddress" class="text-center text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password" class="form-label"></label>
                <input asp-for="@Model.Password" class="form-control" />
                <span asp-validation-for="@Model.Password" class="text-center text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ConfirmPassword" class="form-label"></label>
                <input asp-for="@Model.ConfirmPassword" class="form-control" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-center text-danger"></span>
            </div>
            <div class="d-flex flex-column text-center mt-3">
                <button class="btn btn-success mb-2">Submit</button>
            </div>
        </form>
    </div>
</div>
