@page
@model CoffeeShop.Areas.Shared.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow login-area">
        <h2 class="text-center">Login</h2>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="text-center text-danger">@Model.ErrorMessage</p>
        }
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.UserName"></label>
                <input class="form-control" asp-for="@Model.UserName" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password"></label>
                <input class="form-control" asp-for="@Model.Password" type="password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="@Model.RememberMe" class="form-check-input" />
                <label asp-for="@Model.RememberMe" class="form-check-label">Remember Me</label>
            </div>
            <a asp-page="./ForgotPassword" class="text-secondary mb-2 text-decoration-none">ForgotPassword?</a>
            <div class="d-flex flex-column text-center">
                <button class="btn btn-primary mb-2">Login</button>
                <a class="btn btn-success" asp-page="./Register">Register</a>
            </div>
        </form>
    </div>
</div>

<style>
    .login-area {
        width: 100%;
        max-width: 400px; /* Smaller width */
    }
</style>
