@page
@model CoffeeShop.Areas.Admin.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>List Products</h1>

<p>
    <a asp-area="Admin" asp-page="/Product/CreateProduct">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Category")
            </th>
            <th>
                @Html.DisplayName("ProductName")
            </th>
            <th>
                @Html.DisplayName("productDescription")
            </th>
            <th>
                @Html.DisplayName("Discount")
            </th>
            <th>
                @Html.DisplayName("ImageUrl")
            </th>
            <th>
                @Html.DisplayName("IsAvailable")
            </th>
            <th>
                @Html.DisplayName("IsDeleted")
            </th>
            <th>
                @Html.DisplayName("IsActive")
            </th>
            <th>
                @Html.DisplayName("CreateDate")
            </th>
            <th>
                @Html.DisplayName("ModifyDate")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    <img src="@item.ImageUrl" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>
                <td>
                    <a asp-area="Admin" asp-page="/Product/EditProduct" asp-route-id="@item.ProductID">Edit</a> |
                    <a asp-area="Shared" asp-page="/Product/DetailProduct" asp-route-id="@item.ProductID">Details</a> |
                    <a asp-area="Admin" asp-page="/Product/DeleteProduct" asp-route-id="@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>